.box-ReminderList {
    height: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title-list-reminders {
    text-align: center;
    font-family: var(--font2);
    letter-spacing: 1px;
    color: var(--scolor);
    font-size: 1.6rem;
}


.container-items{
    width: 100%;
    height: 74%;
    overflow: hidden;
    overflow-y: scroll;

}

.item {
    min-height: 5rem;
    margin: 5px;
    padding: 10px 0px 10px 0px;
    border: 1px var(--scolor) solid;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.item:hover {
    background-color: rgb(181 101 118/50%);
}



.text-list {
    font-family: var(--font3);
    color: white;
    font-size: 0.8rem;
}

.message {
    max-width: 60%;
}

.icon-edit {
    width: 2rem;
    height: 2rem;
}

.no-reminder {
    text-align: center;
    margin: 20px;
}

.delete-icon {
    width: 3.5rem;
    height: 3.5rem;
   
}
